body {
  background-color:  lemonchiffon;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 0px;
  margin: 0 auto;
  color: white;
}

.container { 
  display: flex;
  max-width: 660px;
  margin: 0 auto;
  /*background-color: black;*/
  justify-content: center;
  align-items: center;

}
.calculator {
	display: grid;
	grid-template-rows:repeat(6, 1fr);
	grid-template-columns:1fr 1fr 1fr 1fr;
    border: 2px solid #47476b;
   /* grid-row-gap: 10px;*/
    background: slategrey;
    width: 320px;
    position: relative;
    margin: 50% 0; 
}

.calculator div{
	padding: 10px;
	background-color: black;
	border: solid;
}

.calculator div:nth-child(even) {
  background: rgb(95, 57, 223);
}

#itemV{
	grid-column: 1/5;
	grid-row: 1/3;
}

